body {
    
    background-image: url(https://images.rawpixel.com/image_1100/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3JtNTA0LWJnLTA0YV8yLmpwZw.jpg);
    background-size: 100% 100%;
    background-position: center center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main{
    display: flex;
    height: 90vh;
    align-items: center;  
    justify-content: center; 
}

.paper {
    padding: 100px 100px;
    border: 2px solid black;
    position: absolute; 
    cursor:grab;
    background-image: url(https://img.freepik.com/free-vector/crumpled-paper-texture_23-2147505438.jpg?t=st=1762169570~exp=1762173170~hmac=474c0651078900afe5c121d63821990d7cc439478fdde10c5c31e3f89684696c&w=1480);
    background-size: 100% 100%;
    padding: 20px 100px;
    transform: rotateZ(-5deg);
    box-shadow: 1px 15px 20px 0px rgba(0, 0, 0, 0.5);
    user-select: none;

}

.paper.paper1{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 200px;
    height: 200px;
    padding: 0;
    user-select: none;
    border-radius: 50%;
    

    
}
.paper.paper1 img{
    width: 150px;
    height: 150px;
    user-select: none;
}

.paper.paper2{
    z-index: 9;
    width: 100px;
    user-select: none;
   
}

.paper.paper3{
    z-index: 8;
    width: 300px;
    user-select: none;
}

.paper.paper4{
    z-index: 7;
    width: 150px;
    user-select: none;
}

.paper.paper5{
    z-index: 6;
}

.paper.paper6{
    z-index: 5;
    width: 350px;
    height: 350px;
    padding:0;
}

.paper.paper6 img{
    width: 350px;
    height: 350px;
}
.paper.paper7{
    z-index: 4;
    width: 300px;
    height: 350px;
    padding:0;
}

.paper.paper7 img{
    width: 300px;
    height: 350px;
}
.paper.paper8{
    z-index: 3;
    width: 300px;
    height: 350px;
    padding:0;
}

.paper.paper8 img{
    width: 300px;
    height: 350px;
}
.paper.paper9{
    z-index: 2;
    width: 300px;
    height: 350px;
    padding:0;
}

.paper.paper9 img{
    width: 300px;
    height: 350px;
}
.paper.paper10{
    z-index: 1;
    width: 300px;
    height: 350px;
    padding:0;
}

.paper.paper10 img{
    width: 300px;
    height: 350px;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

a{
    text-decoration: none;
    color: black;
}

p{
    font-family: "Comic Sans MS", cursive;
    font-weight: 500;
    font-size:large;
}